{{ define "main/about.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "common_templates/head.tmpl" . }}
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        {{ template "common_templates/breadcrumbs.tmpl" . }}
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        {{ template "common_templates/navbar.tmpl" }}
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <section class="contained row">
            <div class="col-balance">
                <span class="fc-primary fs-h2">
                    Discover the passion behind SoftGlide LLC.
                </span>
                <p>
                    Discover the passion behind SoftGlide LLC, where innovation meets expertise in the dynamic worlds of E-commerce, Blockchain, and Fintech.
                </p>
                <p>
                    As a leading software development company, we are dedicated to driving digital transformation and empowering businesses to navigate the complexities of today's technological landscape.
                </p>
                <p>
                    Our talented team of experts prioritizes customer satisfaction through the creation of tailored software solutions designed to meet the unique needs of every client.
                </p>
                <p>
                    At SoftGlide LLC, we believe in redefining the future of commerce and finance by harnessing the power of cutting-edge technology.
                </p>
                <p>
                    Our agile approach ensures that we swiftly adapt to ever-changing market demands, placing us at the forefront of tech evolution.
                </p>
                <p>
                    With a commitment to crafting exceptional digital experiences, we transform business landscapes and propel our clients toward success.
                </p>
                <p>
                    Partner with SoftGlide LLC and join us on a journey of innovation and expansion.
                </p>
                <a href="about" class="btn-bg1 mt-25 border-round">Find Out More</a>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="assets/art/hero1.webp" alt="">
                    <img src="assets/svg/blob.svg" alt="" class="blob">
                    <img src="assets/art/hero2.webp" alt="">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
            
            
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="assets/art/hero1.webp" alt="">
                    <img src="assets/svg/blob.svg" alt="" class="blob">
                    <img src="assets/art/hero2.webp" alt="">
                </div>
            </div>
            <div class="col-balance">
                <h2 class="section-title ff-damion">About us</h2>
                <span class="fc-primary fs-h2">
                    Our Mission and Values
                </span>
                <p>
                    At SoftGlide LLC, our mission is to empower businesses worldwide through innovative software solutions that revolutionize how industries operate in the digital era. We are committed to excellence, driven by a passion for cutting-edge technology and a dedication to delivering unparalleled results. Our core values—integrity, innovation, and customer-centricity—guide every project we undertake, ensuring that our software solutions not only meet but exceed client expectations.
                </p>
                <p>
                    Innovation is at the heart of everything we do. By continually pushing boundaries and exploring new frontiers in E-commerce, Blockchain, and Fintech, we equip our clients with the tools they need to thrive in a rapidly evolving market. Our team of visionary thinkers and technical experts works collaboratively to design software that is not only robust and efficient but also scalable and adaptable to future challenges.
                </p>
                <p>
                    Integrity is a cornerstone of our culture. We believe in transparent, ethical practices that foster trust and build long-lasting partnerships with our clients. Every decision we make is anchored in a commitment to uphold the highest standards of honesty and accountability.
                </p>
                <p>
                    Customer-centricity is our pledge. We listen intently to our clients’ unique needs and work closely with them to create solutions that drive real value and success. By prioritizing our clients’ goals, we ensure that our software solutions are tailored to support and enhance their business objectives, leading to transformative results.

At SoftGlide LLC, we envision a smarter tomorrow—one where technology seamlessly integrates with business strategies to create a future of limitless possibilities. Join us as we forge ahead, committed to transforming industries and inspiring innovation in an ever-changing digital world.
                </p>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>


    </main>
    
    <!-- FOOTER START -->
    {{ template "common_templates/footer.tmpl" }}
    <!-- FOOTER END -->

</body>
</html>
{{ end }}