{{ define "main/career.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "common_templates/head.tmpl" }}
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        {{ template "common_templates/breadcrumbs.tmpl" . }}
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        {{ template "common_templates/navbar.tmpl" }}
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION START -->

        <section class="contained">
            <h2 class="section-title ff-damion">Careers</h2>
            <p class="ta-center col-wide mlmr-a">
                Want to become well rounded like SoftGlide LLC? We can sandpaper that! Come and
                join us if you think you are qualified in becoming rounded borders too.
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <div class="card-career">
                        <span class="fs-h4 mb-5 mt-15">Web designer - Entry Level</span>
                        <p>
                            <i class="bi bi-calendar"></i>
                            09/26/23
                        </p>
                        <p>
                            <i class="bi bi-geo-alt"></i>
                            Philippines - NCR
                        </p>
                        <p>
                            <i class="bi bi-briefcase"></i>
                            Min 3 years of experience lol!
                        </p>
                        <hr>
                        <div class="ta-center mt-15">
                            <a href="career-1.html" class="btn-bg1">Apply now</a>
                        </div>
                    </div>
                </div>
                <div class="col-tri">
                    <div class="card-career">
                        <span class="fs-h4 mb-5 mt-15">Jr Data Analyst</span>
                        <p>
                            <i class="bi bi-calendar"></i>
                            09/26/23
                        </p>
                        <p>
                            <i class="bi bi-geo-alt"></i>
                            Philippines - NCR
                        </p>
                        <p>
                            <i class="bi bi-briefcase"></i>
                            Min 5 years of experience lol!
                        </p>
                        <hr>
                        <div class="ta-center mt-15">
                            <a href="career-1.html" class="btn-bg1">Apply now</a>
                        </div>
                    </div>
                </div>
                <div class="col-tri">
                    <div class="card-career">
                        <span class="fs-h4 mb-5 mt-15">Web developer - Entry Level</span>
                        <p>
                            <i class="bi bi-calendar"></i>
                            09/26/23
                        </p>
                        <p>
                            <i class="bi bi-geo-alt"></i>
                            Philippines - NCR
                        </p>
                        <p>
                            <i class="bi bi-briefcase"></i>
                            Min 3 years of experience lol!
                        </p>
                        <hr>
                        <div class="ta-center mt-15">
                            <a href="career-1.html" class="btn-bg1">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    
    {{ template "common_templates/footer.tmpl" }}

</body>
</html>
{{ end }}