{{ define "main/contact.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "common_templates/head.tmpl" . }}
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        {{ template "common_templates/breadcrumbs.tmpl" . }}
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        {{ template "common_templates/navbar.tmpl" }}
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <section class="contained">
            <h2 class="section-title ff-damion">Get in touch</h2>
            <p class="col-wide ta-center mlmr-a">
                Connect with SoftGlide LLC Today: Whether You're a Client Seeking Cutting-edge Solutions or a Candidate Eager to Innovate, We Want to Hear from You!
            </p>
            <div class="row">
                <!-- EMBEDED MAP IFRAME START -->
                <div class="col-balance map-embed">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.8400557548057!2d-120.9418855!3d37.723431999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809057078a4651a3%3A0x51bcd6964032f2b3!2s5791%20Rose%20Brook%20Dr%2C%20Riverbank%2C%20CA%2095367%2C%20USA!5e0!3m2!1sen!2suk!4v1731646985825!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- EMBEDED MAP IFRAME END -->

                <!-- CONTACT INFO START -->
                <div class="col-balance">
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Where to go:</span>
                    <a href="https://www.google.com/maps/place/5791+Rose+Brook+Dr,+Riverbank,+CA+95367,+USA/@37.723432,-120.9444604,17z/data=!3m1!4b1!4m6!3m5!1s0x809057078a4651a3:0x51bcd6964032f2b3!8m2!3d37.723432!4d-120.9418855!16s%2Fg%2F11c0_cb2s8?entry=ttu&g_ep=EgoyMDI0MTExMi4wIKXMDSoASAFQAw%3D%3D" class="display-inblock" target="_blank">
                        <i class="bi bi-geo-alt-fill"></i>
                        5791 Rose Brook Dr, Riverbank, California(CA), 95367
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Say hello:</span>
                    <a href="mailto:contact@softglide.com" class="display-inblock mr-10">
                        <i class="bi bi-envelope-fill"></i>
                        contact@softglide.com
                    </a>
                    <a href="tel:+19174750092" class="display-inblock">
                        <i class="bi bi-telephone-fill"></i>
                        +19174750092
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Follow:</span>
                    <a href="#" class="display-inblock mr-10">
                        <i class="bi bi-facebook"></i>
                        Facebook
                    </a>
                    <a href="#" class="display-inblock mr-10">
                        <i class="bi bi-instagram"></i>
                        Instagram
                    </a>
                    <a href="#" class="display-inblock mr-10">
                        <i class="bi bi-twitter"></i>
                        Twitter
                    </a>
                    <a href="#" class="display-inblock mr-10">
                        <i class="bi bi-youtube"></i>
                        Youtube
                    </a>
    
                    <form action="https://formspree.io/f/mrbgkdwr" class="message-form mt-50 mb-25">
                        <span class="fs-h4 fc-primary mb-15">Send us a message</span>
                        <div class="row mb-20">
                            <input name="Name" type="text" id="message-name" placeholder="Your name" aria-label="Input for your name" required>
                            <input name="Email" type="email" class="ml-a" id="message-email" placeholder="Your email" aria-label="Input for email" required>
                        </div>
                        <input name="Subject" type="text" id="message-subject" aria-label="Input for your message subject" class="mb-20" placeholder="Subject">
                        <textarea name="Message" id="message-message" rows="5" placeholder="Write a message" aria-label="Input for writing message"></textarea>
                        <button type="submit" class="btn-bg1 border-round mt-20">Send message</button>
                    </form>
                </div>
                <!-- CONTACT INFO END -->

            </div>
        </section>

    </main>

    <!-- FOOTER START -->
    {{ template "common_templates/footer.tmpl" }}
    <!-- FOOTER END -->

</body>
</html>
{{ end }}