{{ define "main/industries.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "common_templates/head.tmpl" . }}
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        {{ template "common_templates/breadcrumbs.tmpl" . }}
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        {{ template "common_templates/navbar.tmpl" }}
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <section class="contained">
            <h2 class="section-title ff-damion">Industries</h2>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="assets/art/work1.webp" alt="">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">Retail & E-commerce: Shaping Tomorrow's Shopping Experiences</span>
                    <p>
                        As the retail landscape shifts towards online marketplaces, SoftGlide LLC is committed to revolutionizing how businesses engage with their customers. We understand the unique challenges retailers face in a digital-first world, from managing inventory to delivering personalized experiences. Our tailored solutions integrate seamlessly with existing systems, enabling retailers to optimize every aspect of their online presence. With our expertise, businesses can create immersive and intuitive shopping experiences that cater to the preferences of today’s consumers. Let SoftGlide LLC guide your retail strategy, turning digital opportunities into tangible success.
                    </p>
                </div>
            </div>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <span class="fc-primary fs-h3">Supply Chain & Logistics: Enhancing Transparency and Efficiency</span>
                    <p>
                        Blockchain technology is transforming the supply chain and logistics industry by providing unparalleled transparency and efficiency. At SoftGlide LLC, we specialize in implementing blockchain solutions that streamline operations and enhance accountability. From tracking shipments in real-time to verifying the authenticity of goods, our blockchain applications reduce fraud and improve trust across the supply chain. Our innovative approach ensures that clients can adapt to changing demands with agility and precision. Join us as we redefine logistics, creating secure and efficient pathways for businesses to thrive.
                    </p>
                </div>
                <div class="col-balance order-tab-1">
                    <img src="assets/art/work3.webp" alt="">
                </div>
            </div>

            <div class="row flex-alig-center mt-50">
                <div class="col-balance">
                    <img src="assets/art/work2.webp" alt="">
                </div>
                <div class="col-balance">
                    <span class="fc-primary fs-h3">Banking & Financial Services: Leading the Digital Finance Revolution</span>
                    <p>
                        The financial services industry is undergoing a digital revolution, and SoftGlide LLC is at the forefront with cutting-edge fintech innovations. We empower banks and financial institutions to offer seamless, secure, and user-friendly services in an increasingly tech-driven world. Our solutions enhance traditional banking, from mobile banking applications to AI-driven insights for customer engagement and risk management. With SoftGlide LLC, financial institutions can enhance their service offerings and stay competitive in a rapidly evolving market. Embrace the digital transformation of finance with our expertise leading the way.
                    </p>
                </div>
            </div>
        </section>

    </main>

    <!-- FOOTER START -->
    {{ template "common_templates/footer.tmpl" }}
    <!-- FOOTER END -->

</body>
</html>
{{ end }}