{{ define "main/service.tmpl" }}
<!DOCTYPE html>
<html lang="en">
{{ template "common_templates/head.tmpl" . }}

<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>

        <!-- SUB HERO BANNER START -->
        {{ template "common_templates/breadcrumbs.tmpl" . }}
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        {{ template "common_templates/navbar.tmpl" }}
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <!-- SERVICES START -->
        <section class="contained">
            <h2 class="section-title ff-damion">Service</h2>
            <div class="col-wide mlmr-a ta-center">
                <span class="fc-primary fs-h2">
                    Revolutionizing the Future with Advanced E-commerce, Blockchain, and Fintech Solutions
                </span>
                <p>
                    Discover Innovative Software Developed to Empower Your Business in the Digital Age.<br>Tailored
                    Technology Solutions Designed for Maximum Impact and Growth Across Industries
                </p>
            </div>

            <div class="row">
                <div class="col-wide">

                    <!-- INDIVIDUAL SERVICES FEATURE START -->
                    <img src="assets/art/hero1.webp" class="img-unheight" alt="" id="service-dev">
                    <span class="fs-h3 mt-25">E-commerce Solutions</span>
                    <p>
                    <ul>
                        <li>Transform your online presence with our cutting-edge E-commerce solutions tailored for
                            today's digital marketplace.</li>
                        <li>Our platforms are designed to optimize customer experience, streamline operations, and drive
                            sales conversion effectively.</li>
                        <li>Harness the power of data analytics and personalization to deliver targeted marketing and
                            increase customer loyalty.</li>
                        <li>Seamlessly integrate with existing systems for a cohesive, user-friendly shopping experience
                            that enhances brand reputation.</li>
                        <li>Empower your business with mobile-responsive designs and secure payment gateways to meet
                            modern consumer demands.</li>
                    </ul>
                    </p>
                    <!-- INDIVIDUAL SERVICES FEATURE END -->

                    <!-- INDIVIDUAL SERVICES FEATURE START -->
                    <img src="assets/art/hero2.webp" class="img-unheight mt-50" alt="" id="service-data">
                    <span class="fs-h3 mt-25">Blockchain Technology</span>
                    <p>
                    <ul>
                        <li>Embrace the future with our robust blockchain applications that bring transparency and
                            security to your operations.</li>
                        <li>We create custom blockchain solutions that simplify complex transactions, ensuring
                            efficiency and trustworthiness.</li>
                        <li>Our innovative technology supports blockchain integration across various industries,
                            including finance, healthcare, and supply chain.</li>
                        <li>Benefit from decentralized networks that enhance data integrity and eliminate the risk of
                            fraud.</li>
                        <li>Partner with us to explore new opportunities with smart contracts and digital assets in a
                            rapidly advancing digital economy.</li>
                    </ul>
                    </p>
                    <!-- INDIVIDUAL SERVICES FEATURE END -->

                    <!-- INDIVIDUAL SERVICES FEATURE START -->
                    <img src="assets/art/hero3.webp" class="img-unheight mt-50" alt="" id="service-design">
                    <span class="fs-h3 mt-25">Fintech Innovations</span>
                    <p>
                    <ul>
                        <li>Stay ahead of the curve with our forward-thinking fintech solutions that transform
                            traditional financial services.</li>
                        <li>Our expertise in developing secure, scalable fintech applications addresses the unique
                            challenges of today's financial landscape.</li>
                        <li>Leverage advanced algorithms and machine learning to enhance decision-making and customer
                            engagement within your financial operations.</li>
                        <li>From mobile banking to payment processing, we offer versatile solutions that increase
                            efficiency and accessibility.</li>
                        <li>Collaborate with us to redefine your financial products through seamless integration and
                            real-time analytics to meet industry standards.</li>
                    </ul>
                    </p>
                    <!-- INDIVIDUAL SERVICES FEATURE END -->

                </div>

                <!-- SERVICES SIDE BAR SHORTCUT LINKS START -->
                <div class="col-slim order-tab-1">
                    <div class="card-side card-side-navigation">
                        <h3 class="no-margin ff-damion">Services</h3>
                        <hr>
                        <a href="#service-dev">E-commerce Solutions</a>
                        <a href="#service-data">Blockchain Technology</a>
                        <a href="#service-design">Fintech Innovations</a>
                        <!-- <a href="#no-sauce-available">Outsaucing</a> -->
                    </div>
                </div>
                <!-- SERVICES SIDE BAR SHORTCUT LINKS END -->

            </div>
        </section>
        <!-- SERVICES END -->
    </main>

    <!-- FOOTER START -->
    {{ template "common_templates/footer.tmpl" }}
    <!-- FOOTER END -->

</body>

</html>
{{ end }}