{{ define "common_templates/blogs.tmpl" }}
<!-- PREVIEW BLOGS SECTION START -->
<section class="contained">
    <h2 class="section-title ff-damion">Blogs</h2>
    <p class="ta-center col-wide mlmr-a">
        Insights and Innovations from SoftGlide LLC
    </p>
    <div class="row flex-just-center">
        <div class="col-tri">
            <article class="card-blog">
                <img src="assets/art/work1.webp" alt="">
                <div class="info">
                    <h3 class="mt-5 mb-5 ff-damion fc-primary">Future of Digital Commerce</h3>
                    <p class="ml-a mt-5">09/26/2023</p>
                </div>
                <p class="ml-10 mt-5 mb-20">
                    Explore how e-commerce is evolving with next-gen technologies.
                </p>
                <a href="https://blog.softglide.co/future-of-digital-commerce-paving-the-path-forward-27ab4aa16fbd" class="ml-10" target="_blank">
                    Read blog <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </article>
        </div>
        <div class="col-tri">
            <article class="card-blog">
                <img src="assets/art/work2.webp" alt="">
                <div class="info">
                    <h3 class="mt-5 mb-5 ff-damion fc-primary">Blockchain's Impact</h3>
                    <p class="ml-a mt-5">09/26/2023</p>
                </div>
                <p class="ml-10 mt-5 mb-20">
                    Delve into the transformative power and potential of blockchain.
                </p>
                <a href="https://blog.softglide.co/blockchains-impact-transforming-industries-and-empowering-the-future-2610ff4d4c74" class="ml-10" target="_blank">
                    Read blog <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </article>
        </div>
        <div class="col-tri">
            <article class="card-blog">
                <img src="assets/art/work3.webp" alt="">
                <div class="info">
                    <h3 class="mt-5 mb-5 ff-damion fc-primary">Fintech Revolution</h3>
                    <p class="ml-a mt-5">09/26/2023</p>
                </div>
                <p class="ml-10 mt-5 mb-20">
                    Discover new frontiers in financial technology and what they mean for you.
                </p>
                <a href="https://blog.softglide.co/the-fintech-revolution-transforming-finance-for-the-digital-age-dd2f63b0339b" class="ml-10"  target="_blank">
                    Read blog <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </article>
        </div>
    </div>
</section>
<!-- PREVIEW BLOGS SECTION END -->
{{ end }}