{{ define "common_templates/footer.tmpl" }}
<!-- FOOTER START -->
<footer class="fc-white">
    <div class="contained row flex-just-center">

        <!-- FOOTER WEBSITE MOTO START -->
        <div class="col-quad">
            <!-- <h3 class="ff-damion">SoftGlide</h3> -->
            <img src="assets/logo_white.webp" alt="SoftGlide LLC white logo" style="height: 20px; width: 116px;">

            <p>
                Pioneering advanced software solutions in E-commerce, Blockchain, and Fintech for a smarter tomorrow. 
            </p>
            <p>
                By combining strategic insight with technological prowess, SoftGlide LLC is committed to shaping a future where businesses flourish in the digital age.
            </p>
        </div>
        <!-- FOOTER WEBSITE MOTO END -->

        <!-- FOOTER QUICK CONTACT START -->
        <div class="col-quad">
            <h3 class="ff-damion">Get in touch</h3>
            <a href="mailto:contact@softglide.co" class="display-block fc-white icon-link mt-10 mb-10">
                <i class="bi bi-envelope-fill"></i>
                contact@softglide.co
            </a>
            <a href="tel:+19174750092" class="display-block fc-white icon-link mt-10 mb-10">
                <i class="bi bi-telephone-fill"></i>
                +19174750092
            </a>
            <a href="https://www.google.com/maps/place/5791+Rose+Brook+Dr,+Riverbank,+CA+95367,+USA/@37.723432,-120.9444604,17z/data=!3m1!4b1!4m6!3m5!1s0x809057078a4651a3:0x51bcd6964032f2b3!8m2!3d37.723432!4d-120.9418855!16s%2Fg%2F11c0_cb2s8?entry=ttu&g_ep=EgoyMDI0MTExMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="display-block fc-white icon-link mt-10 mb-10">
                <i class="bi bi-geo-alt-fill"></i>
                Riverbank, CA, 95367
            </a>
            <a href="#" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                <i class="bi bi-youtube"></i>
            </a>
        </div>
        <!-- FOOTER QUICK CONTACT END -->

        <!-- FOOTER SCHEDULE START -->
        <div class="col-quad">
            <h3 class="ff-damion">Opening hours</h3>
            <p class="mt-10 mb-10 fw-bold">
                Monday - Friday:
                <span class="fw-normal display-block">8:00 - 19:00</span>
            </p>
            <p class="mt-10 mb-10 fw-bold">
                Saturday:
                <span class="fw-normal display-block">10:00 - 17:00</span>
            </p>
            <p class="mt-10 mb-10 fw-bold">
                Sunday:
                <span class="fw-normal display-block">Closed</span>
            </p>
        </div>
        <!-- FOOTER SCHEDULE END -->

        <!-- FOOTER USEFUL LINKS START -->
        <div class="col-quad">
            <h3 class="ff-damion">Useful Links</h3>
            <a href="/" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                Home
            </a>
            <a href="about" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                About
            </a>
            <a href="service" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                Service
            </a>
            <a href="industries" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                Industries
            </a>
            <a href="blog/blog" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                Blog
            </a>
            <a href="career/career" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                Career
            </a>
            <a href="contact" class="display-block fc-white mt-5 mb-5">
                <i class="bi bi-chevron-compact-right"></i>
                Contact
            </a>
        </div>
        <!-- FOOTER USEFUL LINKS END -->

    </div>
    <div class="copy ta-center fc-white">
        <small>&copy; SoftGlide LLC - Copyright 2024</small>
    </div>
</footer>
<!-- FOOTER END -->
{{ end }}