{{ define "common_templates/news_letter.tmpl" }}
<!-- SUBSCRIBE TO NEWS LETTERS START -->
<section class="subscribe bg-primary-foot" style="background-image: url('assets/art/overlay.webp');">
    <div class="contained row ta-center">
        <div class="col-balance fc-white">
            <h3 class="mb-a ff-damion mt-a">Subscribe to our newsletter:</h3>
        </div>
        <div class="col-balance">
            <form action="#">
                <input type="email" id="subscribe-email" aria-label="Subscribe to our email news"
                    placeholder="Email" required>
                <button class="btn-bg2">Subscribe</button>
            </form>
        </div>
    </div>
</section>
<!-- SUBSCRIBE TO NEWS LETTERS ENS -->
{{ end }}