{{ define "common_templates/team.tmpl" }}
<section class="contained">
    <h2 class="section-title ff-damion">Our team</h2>
    <p class="col-wide mlmr-a ta-center">
        Our team composes of highly competitive cloned
        individual with the same name too, they are top notch motivaded individual
        dedicated to give hundred and ten percent effort to make your vision comes to life.
    </p>
    <div class="row flex-just-center">
        <div class="col-tri">
            <article class="card-team">
                <img src="assets/art/team 1.webp" alt="">
                <h3 class="title ff-damion">Johnny Doe</h3>
                <div class="info">
                    <h3 class="ff-damion">Frontend Developer</h3>
                    <p>
                        When I gaze upon the stars
                    </p>
                    <p>
                        facebook, x, linkedin
                    </p>
                </div>
            </article>
        </div>
        <div class="col-tri">
            <article class="card-team">
                <img src="assets/art/team 2.webp" alt="">
                <h3 class="title ff-damion">Johnny Doe</h3>
                <div class="info">
                    <h3 class="ff-damion">Frontend Developer</h3>
                    <p>
                        When I gaze upon the stars'
                    </p>
                    <p>
                        facebook, x, linkedin
                    </p>
                </div>
            </article>
        </div>
        <div class="col-tri">
            <article class="card-team">
                <img src="assets/art/team 3.webp" alt="">
                <h3 class="title ff-damion">Johnny Doe</h3>
                <div class="info">
                    <h3 class="ff-damion">Frontend Developer</h3>
                    <p>
                        When I gaze upon the stars
                    </p>
                    <p>
                        facebook, x, linkedin
                    </p>
                </div>
            </article>
        </div>
    </div>
    <br>
</section>
{{ end }}