{{ define "common_templates/team.tmpl" }}
<section class="contained">
    <h2 class="section-title ff-damion">Our team</h2>
    <p class="col-wide mlmr-a ta-center">
        Meet the visionaries propelling SoftGlide LLC to new heights.
    </p>
    <div class="row flex-just-center">
        <div class="col-tri">
            <article class="card-team">
                <img src="assets/art/team 1.webp" alt="">
                <h3 class="title ff-damion">Karl Han</h3>
                <div class="info">
                    <h3 class="ff-damion">CEO</h3>
                    <p>
                        Visionary leader driving strategic growth.
                    </p>
                    <p>
                        facebook, x, linkedin
                    </p>
                </div>
            </article>
        </div>
        <div class="col-tri">
            <article class="card-team">
                <img src="assets/art/team 2.webp" alt="">
                <h3 class="title ff-damion">Johnny Doe</h3>
                <div class="info">
                    <h3 class="ff-damion">CTO</h3>
                    <p>
                        Innovator shaping the technological landscape.
                    </p>
                    <p>
                        facebook, x, linkedin
                    </p>
                </div>
            </article>
        </div>
        <div class="col-tri">
            <article class="card-team">
                <img src="assets/art/team 3.webp" alt="">
                <h3 class="title ff-damion">Johnny Doe</h3>
                <div class="info">
                    <h3 class="ff-damion">COO</h3>
                    <p>
                        Operational strategist enhancing business efficiency.
                    </p>
                    <p>
                        facebook, x, linkedin
                    </p>
                </div>
            </article>
        </div>
    </div>
    <br>
</section>
{{ end }}